.MathJax{outline:0;}
.MathJax_Display{overflow:auto;}
.MathJax span{font-size:18px;}

html, body{
    height: 100%;
}
body{
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}
.item{
    padding: 10px 0;
}
.item__title{
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #999;
    font-weight: normal;
    font-size: 14px;
}
.item__ctn{
    padding: 0 15px;
}
.page_feedback{
    padding: 15px;
    overflow: auto;
    background-color: #FFFFFF;
}

/*fix fastclick很难点中的bug*/
label > * { pointer-events: none; }

/* weui需要fix的 */
.weui-picker__item{
    padding: 0;
    height: 34px;
    line-height: 34px;
}

.weui-input{
    color: #B2B2B2;
    border: 1px solid #ccc;
    width: 6rem;
    font-size: 13px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 1.6rem;
    line-height: 1.6rem;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
input::-moz-placeholder {
    color: #999;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}
/*input {
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



*/

.right_answer{
    border-color: #09BB07;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(9, 187, 7, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(9, 187, 7, .6);
}

.wrong_answer{
    border-color: #e64340;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(230, 67, 64, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(230, 67, 64, .6);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 0.75rem;
}

table td,
table th {
    padding: 0.25rem;
}

table,
table td,
table th {
    border-right: 1px solid #000;
    border-bottom: : 1px solid #000;
}

.knowledge_point {
    display: none;
}

.knowledge_point_content {
    display: none;
}

.knowledge_point_question {
    display: none;
}



.right_answer_tip{
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.bottom_btn{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1.875rem;
    line-height: 1.875rem;
    width: 100%;
    color: #fff;
    font-size: 0.875rem;
}

/*错误答案显示按钮*/
.right_answer_btn{
    background-color: #e64340;
}
/*继续按钮*/
.next_content {
    background-color: #09BB07;
}